<div class="min-w-0 m-3 p-4 bg-white rounded-lg shadow-xs">
    <h3>selectionner un reparateur externe</h3>
    <select class="border-2 p-2 m-2">
        <option class="p-3"> One Tel </option>
    </select>
    <hr class="m-2" />
    <h3>Liste des articles a expedier aux reparateurs externe</h3>
    <table class="w-full border-2 m-2 text-center">
        <tr>
            <th class="border-2"><input type="checkbox" (click)="selectAll()" /></th>
            <th class="border-2"><b> Num Fiche </b></th>
            <th class="border-2"><b> Marque </b></th>
            <th class="border-2"><b> Modele </b></th>
            <th class="border-2"><b> N'serie </b></th>
            <th class="border-2"><b> N'serie batterie </b></th>
            <th class="border-2"><b> Fournissuer</b></th>
            <th class="border-2"><b> Etat Fiche</b></th>
            <th class="border-2"><b> Observations</b></th>
        </tr>

        <tr *ngFor="let item of invoiceList">
            <td class="border-2 p-1"> <input type="checkbox" [checked]="item.selected" [(ngModel)]="item.selected" />
            </td>
            <td class="border-2 text-sm p-1">{{ item.id }}</td>
            <td class="border-2 text-sm p-1"> {{ item.marque }} </td>
            <td class="border-2 text-sm p-1"> {{ item.model }} </td>
            <td class="border-2 text-sm p-1"> {{ item.imei }} </td>
            <td class="border-2 text-sm p-1"> N'serie batterie </td>
            <td class="border-2 text-sm p-1"> {{ selectedSuplier }}</td>
            <td class="border-2 text-sm p-1"> Etat Fiche</td>
            <td class="border-2 text-sm p-1"> Observations</td>
        </tr>
    </table>

    <div class="flex justify-end">
        <button (click)="decharge()"
            class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-gray-600 border border-transparent rounded-lg active:bg-gray-700 focus:outline-none">
            Generate decharge</button>
    </div>
</div>

<div class="border-gray-200 border p-4 bg-white my-2">
    <h3>selectionner un reparateur externe</h3>
    <table class="w-full border-2 m-2 text-center">
        <tr>
            <th class="border-2"><b> Num Fiche </b></th>
            <th class="border-2"><b> Marque </b></th>
            <th class="border-2"><b> Modele </b></th>
            <th class="border-2"><b> N'serie </b></th>
            <th class="border-2"><b> N'serie batterie </b></th>
            <th class="border-2"><b> Fournissuer</b></th>
            <th class="border-2"><b> Etat Fiche</b></th>
            <th class="border-2"><b> Observations</b></th>
        </tr>
        <tr *ngFor="let item of dechargeItems">
            <td class="border-2 text-sm p-1">{{ item.id }}</td>
            <td class="border-2 text-sm p-1"> {{ item.marque }} </td>
            <td class="border-2 text-sm p-1"> {{ item.model }} </td>
            <td class="border-2 text-sm p-1"> {{ item.imei }} </td>
            <td class="border-2 text-sm p-1"> N'serie batterie </td>
            <td class="border-2 text-sm p-1"> {{ selectedSuplier }}</td>
            <td class="border-2 text-sm p-1"> Etat Fiche</td>
            <td class="border-2 text-sm p-1"> Observations</td>
        </tr>
    </table>
</div>